@media only screen and (min-width: 992px) {
.libri-volanti {
    position: absolute;
    right: 21%;
    opacity: 0.3;
    width: 60%;
    z-index: -1;  
}}

@media only screen and (max-width: 992px) {
    .libri-volanti {
        position: absolute;
        right: 21%;
        opacity: 0.3;
        width: 60%;
        z-index: -1;  
    }}
    
@media only screen and (min-width: 992px) {
.paragrafo {
    margin-left: 210px;
    margin-right: 200px;
}}


.gdl-logo {        
    width: 40%;         
}



/* Extra small devices (phones, 600px and down)
@media only screen and (max-width: 600px) {...}

Small devices (portrait tablets and large phones, 600px and up)
@media only screen and (min-width: 600px) {...}

Medium devices (landscape tablets, 768px and up) 
@media only screen and (min-width: 768px) {...}

Large devices (laptops/desktops, 992px and up) 
@media only screen and (min-width: 992px) {...}

Extra large devices (large laptops and desktops, 1200px and up) 
@media only screen and (min-width: 1200px) {...} */