.gdl-link {
    text-decoration: none
}

.gdl-card {

    background-color: transparent; 
    
}

.gdl-card:hover {
    transform: scale(105%);
    height: 100%;
    z-index: 2;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

@media only screen and (max-width: 600px) {
    .gdl-card {
        max-width: 160px;
        height: 900px;
    }
    
}

@media only screen and (max-width: 600px) {
    .gdl-cover {
        max-width: 160px;
    }
    
}

.gdl-card {
    position: relative;
    width: 200px;
    height: 550px;
  }
  
  .gdl-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    z-index: -1;
    opacity: 0.1
  }
  
  .gdl-background::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    opacity: 0.8; /* Modifica il valore di opacità a tuo piacimento (0.0 - 1.0) */
  }

  .gdl-cover {
    width: 200px;
    height: 300px !important;
  }