#pulsanti {
    position: absolute !important;
    display: flex !important;
    top: "50%" !important;
    left: "50%" !important;
    transform: "translate(-50%, -50%)" !important;
    z-index: 100 !important;
}

.canvas-container {
    width: 100%;
    height: 100vh;
    background-image: url("../../assets/library3.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
  }

  #login {
    background-color: transparent !important;
    border-color: transparent !important;
    border-bottom: 1px solid black !important;
    color: black;
    font-weight: 900;
  }

  #signUp {
    background-color: transparent !important;
    border-color: transparent !important;
    border-bottom: 1px solid black !important;
    color: black;
    font-weight: 900;
  }