body {
  margin: 0;
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Pearl', 'Arial',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: "CinzelDecorative";
  src: local("CinzelDecorative"),
   url("./fonts/CinzelDecorative-Regular.ttf") format("truetype");
  font-weight: normal;
 }

 @font-face {
  font-family: "TanPearl";
  src: local("TanPearl"),
   url("./fonts/TAN-PEARL-Regular.ttf") format("truetype");
  font-weight: normal;
 }

 @font-face {
  font-family: "Montserrat";
  src: local("Montserrat"),
   url("./fonts/Montserrat-VariableFont_wght.ttf") format("truetype");
  font-weight: bold;
 }